*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: inherit;
    font-family:  "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
  

/* nav started */
}
.nav{
   width: 100%;
   max-width: 100%;
    background-color:rgb(44, 62, 80);
    color: white;
    justify-content: space-between;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700px;
    margin: auto;
    padding-left: 80px;
    padding-right: 80px;

header{
    width: 100%;
    max-width: 100%;
}
    
   
}
.nav_list{
    display: flex;
    gap: 20px;
}
.nav_list_link{
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
}

   

.left{
    padding: 30px;
  
}
.nav_butn{
    display: none;
    width: 120px;
    max-width: 120px;
    min-height: 30px;
    height: 30px;
}

@media screen and (max-width: 728px){
  .nav_list{
      display: none;
  } 
  .nav_butn{
      display: flex;
      align-items: center;
    gap: 3px;
      justify-content: space-between;
      font-size: 12px;
border-radius: 10px;
padding: 20px;
      background-color: rgb(26 188 156);
  }
/* nav ended */
/* hero started */
}
.heromain{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 50px;
    background-color:  rgb(26 188 156);
    /* min-height: 120vh; */
    color: white;
     
    padding: 0px 12px;

}

.heroimg{
    
    width: 180px;
    height: 150px;
    object-fit: cover;

}
img{
   
   width: 100%;
}
.title{
    font-size: 50px;
    text-align: center;

}
.heroicon{
    display: flex;
    gap: 20px;
}
.left_icon{
  
    width: 120px;
    height: 5px;
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;
   
}
.right_icon{
    width: 120px;
    height: 5px;
    background-color: white;
    margin-top: 20px;
    border-radius: 5px;

}
.heroicon i{
    
    font-size:50px;
    
}
.heroparagraph p{
    font-size: 30px;
    text-align: center;
}
@media only screen and (max-width: 1318px){
 .title{
     font-size: 30px;
 }
 .heroparagraph p{
    font-size: 15px;
  
}
}
/* hero section ended */
/* portfolio started */
.portfolio{
    display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 40px;
    background-color:  white;
    min-height: 120vh;
    color:rgb(44, 62, 80) ;
    padding: 0px 12px;

}
img{
    width: 100%;
    border-radius: 5px;
}
.porth h1{
    font-size: 30 px;
    text-align: center;
   font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Robo;
   text-transform: uppercase;
   


}
.porticons{
    display: flex;
    gap: 20px;
    margin-top: 19px;
    align-items: center;
}
.leftport{
  width: 120px;
    max-width: 120px;
    min-height: 5px;
    background-color: rgb(44, 62, 80);
    border-radius: 5px;
    
}
   

.rightport{
  width: 120px;
    max-width: 120px;
   min-height: 5px;
    background-color: rgb(44, 62, 80);
    border-radius: 5px;
   
}
.porticons i{
    
    font-size: 40px;
    
}
 .portimg1{
    max-width: 300px;
    position: relative;
}
.overlay{
    position: absolute;
    background-color: rgb(26 188 156);
    top: 0%;
    left: 0%;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    opacity: 0;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay:hover{
    cursor: pointer;
    border-radius: 15px;
    opacity: 0.9;
    background-color: rgb(26 188 156);
    top: 0%;
    left: 0%;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
/* .portimg2{
    width: 230px;
}
.portimg3{
    width: 230px;
}
.portimg4{
    width: 230px;
}
.portimg5{
    width: 230px;
}
.portimg6{
    width: 230px;
    display: block;
    
} */
.portimg{
display: flex;
/* max-width: 800px; */
flex-wrap: wrap;
justify-content: center;
/* text-align: start;
line-height: 24px;  */
align-items: center;
gap: 22px;
     
}

/* portfolio ended */
/* about started */
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
       background-color:  rgb(26 188 156);
       height: 900px;
       color: white;
       padding: 0px 12px; 
}
.abouth{
    font-size: 35px;
    text-align: center;
   font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Robo;
   text-transform: uppercase;
}
.abouticons{
    display: flex;
    gap: 15px
}
.aboutleft{
    width: 120px;
    height: 4px;
    background-color:white;
    margin-top: 15px;
    border-radius: 10px;
}
.aboutright{
    width: 120px;
    height: 4px;
    background-color:white;
    margin-top: 15px;
    border-radius: 10px;
}
.abouticons i{
    font-size:35px;

}
.aboutparag{
    display: block;
    color: white;
    text-align: center;
    margin: 0% auto;
    display: flex;
}
.aboutparagtext{
    font-size: 20px;
    font-weight: 400px;
    text-align: start;
    line-height: 30px;
    text-decoration-thickness: auto;
    text-size-adjust: 100%;
    max-width: 350px;

    /* margin-left: -8px;
    margin-right: -8px; */
    display: flex;
    margin: 0 39px;
    
}
button {
  
    margin: 5px;
 font-weight: 400;
    font-size: 18px;
    padding: 15px 30px;
    text-align: center;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
    
}
button i {
    margin-right: 10px;
}
@media only screen and (max-width: 760px){
.aboutparag{
    display: flex;
    flex-direction: column;
}
}
/* About ended */
/*Contact started  */
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: white;
    min-height: 750px;
    color: rgb(44, 62, 80);
    padding: 0px 12px;
}
.contacth{
    font-size: 35px;
    text-align: center;
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Robo;
    text-transform: uppercase;
}
.contacticon{
    display: flex;
    gap: 15px;
}
.contactleft{
    width: 120px;
    height: 4px;
    background-color: rgb(44, 62, 80);
    margin-top: 15px;
    border-radius: 10px;
}
.contactright{
    width: 120px;
    height: 4px;
    background-color: rgb(44, 62, 80);
    margin-top: 15px;
    border-radius: 10px;
}
.contacticon{
    font-size: 35px;
}
.form form input{
    flex-direction: column;
    border-radius: 0;
    border-top: 0;
    border-right: 0;
    border-width: 1px;
    border-left: 0;
    font-size: 25px;
    width: 100%;
    height: 100%;
    /* margin: 50px; */
    border-color:#6c757d  ;
    border-bottom: 0.5px solid rgb(44, 62, 80 );
    margin-bottom: 48px;
}
   

textarea{
    display: flex;
    border-bottom: 0.5px solid rgb(44, 62, 80);
    border-top: 0;
    border-right: 0;
    border-width: 1px;
    border-left: 0;
    font-size: 25px;
    width: 100%; 
    /* height: 100%; */
    font-weight: 100px;
   color: #6c757d;
   /* margin: 20px;  */
   border-color:#6c757d; 
   
}
.formbuttn{
    margin: 15px;
    font-weight: 400;
       font-size: 20px;
       padding: 20px 30px;
       text-align: center;
       background-color:rgb(26 188 156) ;
       border-radius: 8px;
       display: block;
     cursor: pointer;
     opacity: 0.65;
     color: white;
     border: none;     
}
/* contact ended */
/* footer started */
.footer{
    display: flex;
    background-color: rgb(44, 62, 80);
    color: white;
    width: 100%;
    min-height: 400px;
    /* display: block; */
    text-align: center;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.footericon {
     display: inline;
    display: flex;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    gap: 5px; 
    border: white;
    width: 100%;
    max-width: 100%;
    /* height: 1em;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem; */
    /* width: 20px;
    height: 30px;
    margin: 20px;
    padding: 20px; */
}
.footericon div {
    display: flex;
    border-radius: 100%;
    height: 1em;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    border: white;
    background-color: rgb(44, 62, 80) ;
}
.footermain{
    display:flex;
    flex-direction: row;
    gap: 60px;
    
}
.start{
    text-decoration: underline;
    color: rgb(26 188 156);
    cursor: pointer;
    display: inline-block;
    max-width: 100%;
    
}
.freelancer{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.freelancer p{
    font-size: 1.25rem;
    font-weight: 300;
}
.around{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer h4{
text-transform: uppercase;
font-size: 23px;

}
.left{
    margin-top: 0;
    display: block;
    margin-bottom: 0;
    font-size: 21px;
    font-weight: 10px;
    width: 274px;
    max-width: 274px;
}
 .freelancer .right{
    margin-top: 0;
    display: block;
    margin-bottom: 0;
    width: 368px;
    max-width: 368px;
     font-size: 21px; 
     font-weight: 40;  
}
.end{
    width: 100%;
    background-color: #1a252f;
    color: white;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    
}
.endoffooter{
    font-size: 14px;
    /* font-weight: 200px; */
}
.facebook i {
  
border: 2px solid white;
border-radius: 100%;
width: 100px;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
}
.facebook:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
    
}


@media screen and (min-width: 480px){
   .facebook i{
    max-width: 350px;
    display: flex;
    flex-direction: column;
   } 
}
